<section class="{{class}} products" id="products">
    <div class="products__wrap">
        <div class="container">
            <div class="products__heading" data-aos="fade-up">
                <div class="products__backtext">
                    Декоративные элементы для окон
                </div>
                <h2 class="products__heading-content">
                   Продукция
                </h2>
            </div>
        </div>
        <ul class="products__list">
            {{#each data.products }}
            <li class="products__product-item product-item">
                <div class="product-item__wrap">
                    <div class="container">
                        <div class="product-item__head">
                            <a href="" class="product-item__title" data-aos="fade-right">
                                {{this.type}} <span>{{this.title}}</span>
                            </a>
                            <div class="product-item__desc" data-aos="fade-left">
                                Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Сonsectetuer adipiscing
                                elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Сommodo ligula eget dolor.
                            </div>
                        </div>
                        <div class="product-item__carousel swiper" data-aos="fade-up">
                            <ul class="product-item__carousel-wrap swiper-wrapper">
                                {{#each this.imgs }}
                                <li class="product-item__carousel-item swiper-slide">
                                    {{> picture src=this }}
                                </li>
                                {{/each}}
                            </ul>
                            <div class="product-item__carousel-controls" data-animate-controls>
                                <button class="product-item__carousel-control" data-control data-direction="next">
                                    <svg width="48" height="67" viewBox="0 0 48 67" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M33 33.5L0 67L21.5 33.5L0 0L33 33.5Z" fill="white" />
                                        <path d="M48 33.5L23 58L38.5 33.5L23 9L48 33.5Z" fill="white" />
                                    </svg>
                                </button>
                            </div>
                            <div class="product-item__carousel-counter">
                                <span>01</span>/05
                            </div>
                        </div>
                        <div class="product-item__product-features product-features" data-aos="fade-up">
                            <div class="product-features__heading">
                                Характеристики
                            </div>
                            <ul class="product-features__list">
                                {{#each this.features }}
                                <li class="product-features__feature-item feature-item">
                                    <button
                                        class="feature-item__toggle  {{#if this.optional}} feature-item__toggle--optional {{/if}}">
                                        <span class="feature-item__title">
                                            {{this.title}}
                                        </span>
                                        {{#if this.optional}}
                                        <span class="feature-item__notice">
                                            * Опционально
                                        </span>
                                        {{/if}}
                                        <span class="feature-item__values">
                                            {{#each this.values}}
                                            <span class="feature-item__value-item">
                                                {{#if this.color}} 
                                                <span class="feature-item__color"
                                                    style="background: {{this.color}};"></span>
                                                {{/if}}
                                                {{this.title}}
                                            </span>
                                            {{/each}}
                                        </span>
                                    </button>
                                    <div class="feature-item__content feature-item__content--{{this.values.length}}">
                                        {{#each this.values}}
                                        <figure class="feature-item__content-item">
                                            {{> picture
                                            class="feature-item__content-item-img"
                                            src=this.img }}
                                            <figcaption>
                                                {{this.title}}
                                            </figcaption>
                                        </figure>
                                        {{/each}}
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div data-aos="fade-up">
                            <a href="" class="product-item__link" data-animate-link>
                                Подробнее о продукции
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</section>