<div class='{{class}} input'>
    <div class='input__wrap'>
        <label for='{{id}}' class='input__label input__label--hidden'>
            {{label}}
        </label>
        <input
            type='{{type}}'
            class='input__control'
            id='{{id}}'
            placeholder='{{label}}'
        ></input>
    </div>
</div>